/* /header */
.logo{
    margin-top: 15px;
    margin-left: 35px;
    color: black;
    font-weight: bold;
    animation: logo 5s infinite;
	animation-timing-function: linear
   

}

@keyframes logo{
    0%{transform:translateX(15px);}
    25%{transform:translateX(50px);}
    50%{transform:translateX(65px);}
    100%{transform:translateX(80px);}
}

.header{
display: flex;
justify-content: space-between;

background-color:rgb(223, 191, 159);
}


.div-ul{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}

.li-1{
    margin-right: 35px;
    font-weight: bold;

}

/* section 1 */



.imj-2{
    background-image: url(../photo/photo\ -4.jpg);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position:relative;
   
   
   
  
}

.divider{
    height: 2px;
    max-width: 65%;
    width: 100%;
    background-color: black;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.section-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width:750px ;
    height: auto;
    width: 100%;
    border: black 2px solid;
    padding: 3%;
    background-color:white;
    left: 270px;
    top: 600px;
   
    
}
.section-p{
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    color:rgb(30, 30, 21);
    font-size: 17px;
    text-indent: 35px;
    
}

.h-3{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 30x;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
    letter-spacing:8px;
}

/* section2 */

.wraper-image-1{
    background-image:url(../photo/farmhouse.jpg);
    max-width: 300px;
    width: 100%;
    height: 450px;
    border-radius: 25px;
    border: wheat 3px solid;
    
 
    
}

.wraper-image-1-box{
    display: flex;
   align-items: center;
   max-width: 800PX;
   width: 100%;
  
    
}

.wraper-text{
    text-align: center;
    flex-direction: column;
    margin-left: 15px;
    
    
}





.wraper-image-2{
    background-image: url(../photo/gatstby\ gold.webp);
    max-width: 300px;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    border: wheat 3px solid;
    margin-top: 60px;
    margin-left: 25px;
  
} 


.section-2{
    margin-top: 500px;

}

.wraper-box{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 25px;
   
}

.h-2{
margin-left: 260px;
font-size: 40px;
letter-spacing:15px;
margin-bottom: 36px;

    
}

.farmhouse{
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 4px;
    font-family: 'Redressed', cursive;
}
.farmhouse-p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Shippori Mincho B1', serif;
    font-size:14px;
    text-indent: 10px;
    
}

/* section3 */

.maria{
   background-image: url(../photo/maria.webp);
   max-width: 450px;
   width: 100%;
   height: 350px;
   border-radius: 15px;
   border: wheat 3px solid;
}
.disng{
    flex-direction: column;
    max-width: 800px;
    width:100%;
   
    
} 
.maria-text{
    
    margin-bottom: 15px;
    margin-left: 60px;
    font-size: 25px;
   letter-spacing:8px;
   color: black;}

  

.wraper-image-3{
    background-image: url(../photo/gold.webp);
    max-width: 300px;
    width: 100%;
    height: 300px;
    background-position: center;
    border-radius: 25px;
    border: wheat 3px solid;
    margin-top: 60px;
    margin-left: 25px;
}

.section-3{
    display: flex;
    justify-content: space-between;
    width:100%;
    padding: 25px;
  
    
   
}

.wraper-image-3-box{
    display: flex;
    align-items: center;
    max-width:800px;
    width: 100%;
    height: 320px;
    
}

.wraper-text-1{
    text-align: center;
    flex-direction: column;
    margin-left: 15px;
   

}


/* footer */

.footer-div-1{
   margin-top: 30px;
    max-width: 350px;
    width: 100%;
    
}

.footer-h{
    margin-left: 19px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.footer-p{
    text-align: center;
    font-size: 13px;
}

.icon{
    margin-top: 30px;
    margin-left: 60px;
}

.fa-linkedin-in{
color: cornflowerblue;
margin-left: 10px;
margin-top: 110px;

}

.fa-facebook{
    color: darkblue;
    margin-right: 10px;
}

.fa-instagram{
    color:red;
}

.footer-divider{
    width: 100%;
    height: 2px;
    background-color: rgb(30, 30, 21);
    margin-top:150px;
}

.footer-img{
    max-width: 200px;
    width: 100%;
    height: 250px;
    margin-right: 100px;
   
}

.footer-box{
    display: flex;
    justify-content: space-between;

}

.contact{
    font-size: 15px;
    font-weight: bold;
    padding-top: 15px;
   
   
  
    
}

.info{
    margin-left: 3px;
    
}

.info-1{
    margin-left: 25px;
}
.info-2{
    margin-left: 13px;
}

.information-h3{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.block-information{
    margin-right: 19px;

}

.copyright{
    font-size: 10px;
    float: right;
}


/* shop */

.shop-img{
   max-width: 250px;
   width: 100%;
   height: 150px;
   margin-left: 60px;
   margin-top: 60px;
   border-radius: 25px;
   border: wheat 3px solid;
   opacity: 0.5;
}

.shop-img:hover {
    opacity: 1;
  }
.shop-div{
    
    max-width: 340px;
    width: 100%;
}
.shop-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    
}

.price{
    margin-top: 15px;
    text-align: center;
}

.shop-h2{
    margin-top: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}



.box{
    max-width: 100px;
    width: 100%;
    height: 45px;
    background-color:rgb(223, 191, 159);
    border-radius: 8%;
    border-radius: 25px;
    border: wheat 3px solid;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    margin-left: 120px;
    margin-top: 30px;
    
  
}
.shop-section{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    max-width: 1200px;
    flex-wrap: wrap;
}
.loadmore{
    max-width: 100px;
    width: 100%;
    height: 45px;
    background-color: white;
    border: black 3px solid;
    border-radius: 4%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top:10px;
    margin-left: 610px;
    margin-top: 70px;
}

/* designer */
.maria-1{
    background-image: url(../photo/maria.webp);
    background-repeat: no-repeat;
    max-width: 450px;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    border: wheat 3px solid;
    margin-left: 80px;
 }

 .maria-text-1{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    text-indent: 10px;
    font-family: 'Roboto Mono', monospace;
   
}
.maria-letter::first-letter{
    color: black;
  font-size: xx-large;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  
 
}


.desing-box-1{
    display: flex;
   
}

.name{
    margin-top: 15px;
}

.divider-p{
    margin-top: 30px;
}

.title-maria{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 25px;
   letter-spacing:8px;
   color: black;
   margin-bottom: 15px;
   text-shadow: 0 0 3px #000000;
}


.textarea-wraper{
    max-width: 350px;
    width: 100%;
    height: 200px;
    resize: none;
    border-color: #E8E8E8;
}
 textarea:focus,
input:focus {
    outline: none;
    
} 

.input-wraper-text{
    max-width: 360px;
    width: 100%;
    border-color: #E8E8E8;
    background-color: E8E8E8;
   
}

.input{
    max-width:250px;
    width: 100%;
    height: 25px;
    background-color: E8E8E8;
    margin-bottom: 16px;
    border-color: #E8E8E8;
} 

.h-1{
    font-size: 14px;
    font-weight: bold;
}


.form-wraper{
    display: flex;
    
    margin-top: 50px;
    margin-left: 110px;

}


.stay-touch{
    margin-left: 110px;
    margin-top: 90px;
    letter-spacing: 3px;
    font-weight: bold;
    color: black;

}


/* burger icon */


.nav-bar {
    position: absolute;
	background-color: #122;
	top: 0;
	right: 100%;
	height: 100vh;
	width: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
    z-index: 10; 
}

.toggle {
	left: 0;
}

.nav-list-item {
	text-align: center;
	padding: 10px 0;
}

.nav-link {
	color: #fff;
	font-size: 22px;
}

.toggle-menu {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 40px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  padding: 2px 2px 2px 3px;
	cursor: pointer;
}
.line {
	width: 100%;
	height: 3px;
	background-color: #000000;
	transition: transform 0.2s ease-out;
}
.toggle .line1 {
	transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle .line2 {
	display: none;
}
.toggle .line3 {
	transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}

 .header-wraper{
    display: none;
} 